{% extends 'base.html' %}

{% block title %}
    Polls
{% endblock %}

{% block content %}
<!-- Page content -->
<section class="py-5">
    <div class="container px-5">
        <!-- Polls panel -->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-2">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                    <i class="bi bi-ui-checks"></i>
                </div>

                <!-- Heading and subtitle -->
                <h1 class="fw-bolder mb-3">Poll Questions</h1>
                <p class="lead fw-normal text-muted mb-4">
                    Take our polls and see other members' opinions!
                </p>
            </div>
        </div>    
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="lead">{{ question.question_text }}</p>
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Vote Now</a>
                        <a href="{% url 'polls:results' question.id %}" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">Results</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No polls available</p>
        {% endif %}
    </div>
</section>
{% endblock %}
