{% extends 'base.html' %}
{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 bg-gradient-primary-to-secondary">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Log In</h2>

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }} <!-- Render form fields -->
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block btn-lg bg-gradient-primary-to-secondary text-body text-white-50">Log In</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'users:register' %}" class="fw-bold text-body"><u>Sign up here</u></a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
