.custom-textarea {
    height: calc(3em * 10); /* 1.5em is the line-height, adjust as necessary */
    resize: vertical; /* Allow resizing only vertically */
}


/* Hover effect specifically for the welcome user text */
.navbar-nav .nav-item p.nav-link {
    color: inherit; /* Ensures that the text color doesn't change on hover */
    cursor: default; /* Keeps the cursor as an arrow */
}
