{% extends "base.html" %}
{% block content %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-2">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                    <i class="bi bi-chat-dots"></i>
                </div>
                <h1 class="fw-bolder">{{ title }}</h1>
                <p class="lead fw-normal text-muted mb-0">
                    {{ subtitle }}
                </p>
            </div>
            <!-- Comment Form Component -->
            <div class="timeline">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="timeline-container">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8 col-xl-6">
                                        <form method="post">
                                            {% csrf_token %}
                                            <!-- Comment input-->
                                            <div class="form-floating mb-3">
                                                <textarea 
                                                    id="id_comments_text" 
                                                    name="comments_text" 
                                                    class="form-control custom-textarea" 
                                                    placeholder="Enter your comment..." 
                                                    maxlength="280"
                                                    style="height: 200px; resize: vertical;" 
                                                >{{ form.comments_text.value|default_if_none:'' }}</textarea>
                                                <label for="id_comments_text">Comment (280 Characters)</label>
                                                <div class="invalid-feedback">
                                                    {% if form.comments_text.errors %}
                                                        {{ form.comments_text.errors }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="custom-buttons-group">
                                                <div class="custom-buttons-left">
                                                    <!-- Submit Button-->
                                                    <div class="d-grid">
                                                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                                                    </div>
                                                </div>
                                                <div class="custom-buttons-right">
                                                    <!-- Back to Post Button-->
                                                    <div class="d-grid">
                                                        <a class="btn btn-outline-secondary btn-lg" href="{% url 'posts:detail' post.id %}" role="button">Back to Post</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

