{% extends "base.html" %}
{% block content %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-2">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                <h1 class="fw-bolder">{{ title }}</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
            <a class="btn btn-outline-secondary" href="{% url 'posts:detail' post.id %}" role="button">Back to Post</a>
        </div>
    </div>
</section>
{% endblock %}
