{% extends 'base.html' %}
{% load static %}

{% block title %}
Confirm Delete
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-2">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                    <i class="bi bi-exclamation-circle"></i>
                </div>
                <h1 class="fw-bolder">Confirm Deletion</h1>
                {% if post %}
                    <p class="lead fw-normal text-muted mb-0">Are you sure you want to delete the post "{{ post.heading_text }}"?</p>
                {% elif comment %}
                    <p class="lead fw-normal text-muted mb-0">Are you sure you want to delete the comment?</p>
                {% endif %}
            </div>
            <!-- Delete Form Component -->
            <div class="timeline">
                <div class="container">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form method="post" action="{% url 'posts:confirm_delete' %}">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <div class="custom-buttons-group">
                                    <div class="custom-buttons-left">
                                        <!-- Confirm Button -->
                                        <div class="d-grid">
                                            <button class="btn btn-danger px-4 py-3" type="submit">
                                                <div class="d-inline-block bi bi-trash me-2"></div>
                                                Confirm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="custom-buttons-right">
                                        <!-- Cancel Button -->
                                        <div class="d-grid">
                                            <a class="btn btn-outline-dark px-4 py-3" href="{% if post %}{% url 'posts:index' %}{% else %}{% url 'posts:detail' post_id %}{% endif %}" role="button">
                                                <div class="d-inline-block bi bi-x-lg me-2"></div>
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
