{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if user == post.user %}
        One Of Your Achievements
    {% else %}
        One Of {{ post.user.username }}'s Achievements
    {% endif %}
{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container px-5">
    <!-- Detail form -->
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-2">
            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                <i class="bi bi-award"></i>
            </div>
            <h1 class="fw-bolder">
                {% if user == post.user %}
                    One Of Your Achievements
                {% else %}
                    One Of {{ post.user.username }}'s Achievements
                {% endif %}
            </h1>
            <p class="lead fw-normal text-muted mb-0">
                {% if user == post.user %}
                    You posted a new achievement on {{ post.pub_date|date:"d M Y" }}
                {% else %}
                    {{ post.user.username }} posted a new achievement on {{ post.pub_date|date:"d M Y" }}
                {% endif %}
            </p>
        </div>

        <!-- Detail Speech Bubble -->
        <div class="timeline">
            <div class="timeline-container">
                <div class="timeline-launch">
                    <div class="timeline-box">
                        <div class="timeline-text">
                            <h3>{{ post.heading_text }}</h3>
                            <p>{{ post.message_text }}</p>
                        </div>
                    </div>
                    <div class="custom-buttons-group">
                        
                        <!-- Conditionally display edit and delete buttons -->
                        {% if user.is_authenticated and post.user == user %}
                        <div class="custom-buttons-left">
                            <a class="btn btn-outline-primary px-4 py-3" href="{% url 'posts:update' post.id %}" role="button">
                                <div class="d-inline-block bi bi-pen me-2"></div>
                                Edit
                            </a>
                            <a class="btn btn-outline-danger px-4 py-3" href="{% url 'posts:delete' post.id %}" role="button">
                                <div class="d-inline-block bi bi-trash me-2"></div>
                                Delete</a>
                        </div>
                        {% endif %}
                        <div class="custom-buttons-right">
                            <div class="d-grid">
                                <!-- Back Button -->
                                <a class="btn btn-primary px-4 py-3" href="{% url 'posts:user_index' post.user.id %}" role="button">
                                    <div class="d-inline-block bi bi-backspace-fill me-2"></div>
                                    {% if user == post.user %}
                                        Go Back To Your Achievements
                                    {% else %}
                                        Go Back To {{ post.user.username }}'s Achievements
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Container for Comments Button -->
    <div class="row gx-4 justify-content-center mt-5">
        <div class="col-lg-11 col-xl-11 col-xxl-8">
            <div class="d-flex align-items-center justify-content-between my-4">
                <h2 class="text-primary fw-bolder mb-0">Comments</h2>
                <a class="btn btn-outline-primary px-4 py-3" href="{% url 'posts:create_comment' post.id %}">
                    <div class="d-inline-block bi bi-chat-quote me-2"></div>
                    Add Comment
                </a>
            </div>
        </div>
    </div>

    <!-- Comments Timeline Card -->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            {% if comments %}
            <!-- Comments Timeline -->
            <div class="text-center mb-2">
                <h2 class="fw-bolder">Comments Timeline</h2>
                <p class="lead fw-normal text-muted mb-0">Click On A Comment To Discover More</p>
            </div>

            <div class="timeline">
                <div class="timeline-container">
                    <div class="timeline-end">
                        <p>Now</p>
                    </div>
                    <div class="timeline-continue">
                        {% regroup comments|dictsortreversed:"pub_date" by pub_date.year as year_list %}
                        {% for year in year_list %}
                        {% if not forloop.first %}
                        <div class="timeline-year">
                            <p>{{ year.grouper }}</p>
                        </div>
                        {% endif %}
                        {% for comment in year.list %}
                        <div class="row {% cycle 'timeline-left' 'timeline-right' %}">
                            {% if forloop.counter0|divisibleby:2 %}
                            <div class="col-md-6 d-md-none d-block">
                                <p class="timeline-date">{{ comment.pub_date|date:"d M Y" }}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline-box">
                                    <div class="timeline-icon d-md-none d-block">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <a href="{% url 'posts:comment_detail' comment.id %}">
                                            <h3>{{ comment.comments_text }}</h3>
                                        </a>
                                        <p> - <a href="{% url 'posts:user_index' comment.user.id %}">{{ comment.user.username }}</a></p>
                                    </div>
                                    <div class="timeline-icon d-md-block d-none">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <p class="timeline-date">{{ comment.pub_date|date:"d M Y" }}</p>
                            </div>
                            {% else %}
                            <div class="col-md-6">
                                <p class="timeline-date">{{ comment.pub_date|date:"d M Y" }}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="timeline-box">
                                    <div class="timeline-icon">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <a href="{% url 'posts:comment_detail' comment.id %}">
                                            <h3>{{ comment.comments_text }}</h3>
                                        </a>
                                        <p> - <a href="{% url 'posts:user_index' comment.user.id %}">{{ comment.user.username }}</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="timeline-start">
                        <p>Post</p>
                    </div>
                    <div class="timeline-launch">
                        <div class="timeline-box">
                            <div class="timeline-text">
                                <h3>{{ post.user.username }} posted on {{ post.pub_date|date:"d M Y" }}</h3>
                                <p>{{ post.heading_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
