{% extends 'base.html' %}
{% load static %}

{% block title %}
404 - Page not found
{% endblock %}

{% block content %}
<section class="container px-5">
    <div class="bg-light rounded-4 py-5 px-4 px-md-5 mb-5 text-center">
        <div class="feature bg-danger bg-gradient-danger-to-secondary text-white rounded-3 mb-3">
            <i class="bi bi-exclamation-triangle-fill"></i>
        </div>
        <h1 class="fw-bolder">404</h1>
        <p class="lead fw-normal text-muted mb-4">It looks like you're lost...<br>That's a trouble?</p>
        <div class="d-grid">
            {% if user.is_authenticated %}
                <a class="btn btn-primary px-4 py-3" href="{% url 'posts:user_list' %}" role="button">Go Home</a>
            {% else %}
                <a class="btn btn-primary px-4 py-3" href="{% url 'pages:index' %}" role="button">Go Home</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
