{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="AchievementHQ">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Edward Baitsewe">
    <title>AchievementHQ - {% block title %}{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />  
    <!-- Custom 404 & 500 Error CSS -->
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Registration / Login form-->
    <link rel="stylesheet" href="{% static 'css/registration_login_modal_styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Responsive Vertical Timeline -->
    <link rel="stylesheet" href="{% static 'css/responsive_vertical_timeline_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <!-- Navigation-->
    {% if request.path not in excluded_paths %}
        {% include 'partials/_navbar.html' %}
    {% endif %}

    <main class="flex-shrink-0">
        <!-- Alerts -->
        {% if request.path not in excluded_paths %}
            {% if messages %}
                {% include 'partials/_alerts.html' %}
            {% endif %}
        {% endif %}
        
        <!-- Page Content -->
        {% block content %}{% endblock %}
    </main>

    <!-- Footer-->
    {% if request.path not in excluded_paths %}
        {% include 'partials/_footer.html' %}
    {% endif %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
